<h1 class="title-register text-center" >Inscription</h1>
<div class="text-typo container-register">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                label: "Prénom",
                autofocus: true %>
    <%= f.input :last_name,
                required: true,
                label: "Nom",
                autofocus: true %>
    <%= f.input :photo, as: :file,
                label: "Photo de profil" %>
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions button-register">
    <%= f.button :submit, "Se créer un compte" %>
  </div>
<% end %>
  <div class="link-register  align-itme-center">
    <%= render "devise/shared/links"%>
  </div>
</div>
