<%= remove_associated_record(tag: :div) do %>
  <div class="w-100 d-flex justify-content-end">
    <i class="fa-solid fa-xmark"></i>
  </div>
<% end %>
<div class="d-flex justify-content-between">
  <%= f.input :quantity_value,
  input_html: { class: "form-input-square" },
  label: "quantité" %>
  <%= f.input :quantity_unit,
  input_html: { class: "form-input-rectangle" },
  label: "unité" %>
  <%= f.association :ingredient, label: "Ingrédient:", input_html: { id: "select-beast", data: { controller: "tom-select" }, class: "form-input-big-rectangle", style: "margin-bottom: 0 !important;"} %>
  <%#= f.input :ingredient,
  input_html: { data: {controller: "tom-select"}, class: "form-input-big-rectangle", style: "margin-bottom: 0 !important;"},
  label: "ingrédient" %>
  <%= f.hidden_field :_destroy %>
</div>
