<%#= render "form", recipe: @recipe %>
<%= simple_form_for @recipe, html: {data: {controller: "form"}} do |f| %>
  <%#= f.input :url,
    required: false,
    label: 'Renseigner une URL',
    input_html: { class: "form-input"},
    placeholder: 'https://www.exemple.com'%>
  <h3 class="mt-4 mb-3">Ou ajouter manuellement</h3>
  <section class="step" id="step3" data-step-target="step">
    <%= f.input :title,
      required: false,
      input_html: { class: "form-input"},
      label: 'Titre de la recette',
      placeholder: 'Ex : Cookies maison' %>
    <button class="btn btn-success" data-next-id="step4" data-action="click->form#next">Next</button>
  </section>

  <section class="step d-none" id="step4" data-step-target="step">
    <p>Nombre de portions</p>
    <div class="input-with-text">
      <%= f.input :number_of_servings,
        required: false,
        label: false,
        input_html: { class: "form-input-square", style: "margin-bottom: 0 !important;" },
        style: "margin-bottom: 0 !important;",
        wrapper_html: { style: "margin-bottom: 0 !important;" } %>
      <span class="input-text">personnes</span>
    </div>
    <button class="btn btn-success" data-next-id="step5" data-action="click->form#next">Next</button>
  </section>

  <section class="step">

    <p>Difficulté</p>
    <%= f.input :difficulty,
        required: false,
        label: false,
        input_html: { class: "form-input-rectangle", style: "margin-bottom: 0 !important;"},
        wrapper_html: { style: "margin-bottom: 0 !important;" },
        collection: ['Très facile', 'Facile', 'Moyenne', 'Difficile'],
        as: :select,
        include_blank: 'choisir' %>

    <div class="input-grid">
      <p>Temps de préparation</p>
      <p>Temps de cuisson</p>
    </div>
    <div class="input-grid">
      <div class="input-with-text">
        <%= f.input :preparation_time,
        required: false,
        label: false,
        input_html: { class: "form-input-square", style: "margin-bottom: 0 !important;" },
        wrapper_html: { style: "margin-bottom: 0 !important;" } %>
        <span class="input-text">minutes</span>
      </div>
      <div class="input-with-text">
        <%= f.input :cooking_time,
        required: false,
        label: false,
        input_html: { class: "form-input-square", style: "margin-bottom: 0 !important;" },
        wrapper_html: { style: "margin-bottom: 0 !important;" } %>
        <span class="input-text">minutes</span>
      </div>
    </div>
    <legend>Ingrédients</legend>
    <%= f.abyme_for(:recipe_ingredients) do |abyme| %>
      <%= abyme.records %>
      <%= abyme.new_records %>
      <div class="d-flex">
        <%= add_associated_record(tag: :div, html: { class: "flex" }) do %>
          <div class="tiny-square">
            <i class="fa-solid fa-circle-plus"></i>
          </div>
        <% end %>
        <span class="ms-2">Ajouter un ingrédient</span>
      <% end %>
    </div>
    <legend class="mt-3">Étapes</legend>
    <%= f.abyme_for(:preparation_steps) do |abyme| %>
      <%= abyme.records %>
      <%= abyme.new_records %>
      <div class="d-flex">
        <%= add_associated_record(tag: :div, html: { class: "flex" }) do %>
          <div class="tiny-square">
            <i class="fa-solid fa-circle-plus"></i>
          </div>
        <% end %>
        <span class="ms-2">Ajouter une étape</span>
      <% end %>
    </div>
    <legend class="mt-3">Tags</legend>
    <div data-controller="toggle-form">
      <div class="d-flex">
        <div class="tiny-square" data-toggle-form-target="button" data-action="click->toggle-form#fire">
          <i class="fa-solid fa-circle-plus" ></i>
        </div>
        <span class="ms-2">Ajouter un tag</span>
      </div>
      <div class="d-none" data-toggle-form-target="category">
        <%= f.association :categories, as: :check_boxes, label_method: lambda { |item| render "recipes/category_label", item: item } %>
      </div>
    </div>
    <%= f.input :photo, as: :file, label: 'Ajouter une photo' %>
    <div class="text-center mt-3">
      <%= f.submit "Sauvegarder",
    class: "save-button" %>
    </div>
  </section>
<% end %>
