<!-- Image de la recette -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0" id="img-banner" style="
    <% if @recipe.photo.attached? %>
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), url('<%= cl_image_path(@recipe.photo.key) %>');
    <% else %>
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), url('https://placehold.co/600x400');
    <% end %>">
      <div class="categories-overlay">
        <% @recipe.categories.each do |category|%>
          <span class="category-tag">#<%= category.name %></span>
        <% end %>
      </div>
      <div id="back" class="white-button rounded-circle">
        <!-- Modifier le lien avec javascript:history.back() à la place de my_recipes_path si on veut renvoyer vers la page précédente -->
        <%= link_to my_recipes_path do %>
          <i class="fa-solid fa-arrow-left" style="color: #000000;"></i>
        <% end %>
      </div>
      <% if user_signed_in? && @recipe.user_id != current_user.id %>
        <div id="like" class="red-button rounded-circle">
          <%= link_to edit_recipe_path(@recipe) do %>
            <i class="fa-solid fa-heart" style="color: #000000;"></i>
          <% end %>
        </div>
      <% else %>
        <div id="edit" class="red-button rounded-circle">
          <%= link_to edit_recipe_path(@recipe) do %>
            <i class="fa-solid fa-pen" style="color: #000000;"></i>
          <% end %>
        </div>
        <div id="delete" class="white-button rounded-circle">
          <%= link_to recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash" style="color: #000000;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Contenu de la recette -->
<div class="container">
  <div class="row text-center mt-3">
    <% if user_signed_in? && @recipe.user_id != current_user.id %>
      <div>
        <p class="col-3">Pierre</p>
      </div>
    <% end %>
    <div class="col-12">
      <h3 class="mb-0"><%= @recipe.title %></h3>
    </div>
  </div>
  <!-- Test sans badge -->
  <div class="d-flex justify-content-center mx-0 align-items-center text-center mb-3 mt-0">
    <!-- Difficulté -->
    <div class="d-flex px-3 py-3">
      <small><i class="fa-solid fa-cookie-bite" style="color: #000000;"></i></small>
      <span class="ms-1"><%= @recipe.difficulty.capitalize %></span>
    </div>
    <!-- Temps preparation -->
    <div class="d-flex px-3 py-2">
      <small><i class="fa-solid fa-spoon" style="color: #000000;"></i></small>
      <span class="ms-1"><%= @recipe.preparation_time %>min</span>
    </div>
    <!-- Temps cuisson -->
    <div class="d-flex px-3 py-2">
      <small><i class="fa-solid fa-fire" style="color: #000000;"></i></i></small>
    <span class="ms-1"><%= @recipe.cooking_time %>min</span>
  </div>
</div>
<div data-controller="tab" class="tabs">
  <div class="button-container mb-4 px-2">
    <ul class="nav nav-pills flex-fill d-flex align-items-center justify-content-evenly px-2">
      <li class="nav-item">
        <button data-action="click->tab#show" data-tab-target="button" data-tab-id-param="1" type="button" class="tab-button on px-3 py-1">Ingrédients</button>
      </li>
      <li class="nav-item">
        <button data-action="click->tab#show" data-tab-target="button" data-tab-id-param="2" type="button" class="tab-button px-3 py-1">Préparation</button>
      </li>
      <li class="nav-item">
        <button data-action="click->tab#show" data-tab-target="button" data-tab-id-param="3" type="button" class="tab-button px-3 py-1">Notes</button>
      </li>
    </ul>
  </div>
  <div>
    <!-- Onglet ingrédients -->
    <div class="tab on" data-tab-target="tab" data-id="1">
      <div class="d-flex justify-content-around text-center mt-3">
        <span>-</span>
        <span>Nombre de personnes : <strong><%= @recipe.number_of_servings %></strong></span>
        <span>+</span>
      </div>
      <% @recipe.recipe_ingredients.each do |recipe_ingredient|%>
        <div class="list-ingredients d-flex justify-content-between py-2 px-3 mt-3">
          <%= recipe_ingredient.ingredient.name.capitalize %>
          <strong><%= recipe_ingredient.quantity_value.to_s.chomp('.0') %> <%= recipe_ingredient.quantity_unit %></strong>
        </div>
      <% end %>
    </div>
    <!-- Onglet préparation -->
    <div class="tab" data-tab-target="tab" data-id="2">
      <div class="container-fluid">
        <div class="row">
          <% @recipe.preparation_steps.each do |preparation_step|%>
            <div class="list-instructions col-12 pb-2 mt-3">
              <p><strong>Étape <%= preparation_step.step_number %></strong></p>
              <p><%= preparation_step.instruction %>
                <p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Onglet note -->
        <div class="tab" data-tab-target="tab" data-id="3">
        </div>
      </div>
    </div>
  </div>
