<h2 class="title-typo-password text-center">Mot de pass oublié ?</h2>
<div class="container-password">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions d-flex justify-content-center text-password">
   <%= f.button :submit, "Envoyez", class: "" %>
  </div>
  <% end %>
  <div class="link-password link">
    <%= render "devise/shared/links" %>
  </div>
</div>
