
<div class="navbar fixed-bottom">
  <div class="container-fluid pb-5 px-3">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "cookbook.png" %>
    <% end %>
      <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "social.png" %>
    <% end %>
      <%= link_to "#", class: "navbar-brand navbar-add" do %>
      <%= image_tag "add.png" %>
    <% end %>
      <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "like.png" %>
    <% end %>
      <%= link_to "#", class: "navbar-brand"  do %>
      <%= image_tag "user.png" %>
    <% end %>
  </div>
</div>

<%=  link_to "go to design" ,design_path%>
