<div class="navbar fixed-bottom">
  <div class="container-fluid pb-5 px-3">
    <%= link_to my_recipes_path, class: "navbar-brand #{"button-on-navbar" if action_name == "my_recipes"}" do %>
      <%= image_tag "home.png"%>
    <% end %>
      <%= link_to inspiration_recipes_path, class: "navbar-brand #{"button-on-navbar" if action_name == "inspiration"}" do %>
      <%= image_tag "social.png" %>
    <% end %>
    <%= link_to new_recipe_path, class: "navbar-brand navbar-add" do %>
      <%= image_tag "add.png" %>
    <% end %>
    <%= link_to recipes_user_path(user), class: "navbar-brand #{"button-on-navbar" if controller_name == "users" && action_name == "recipes"}" do %>
      <%= image_tag "book.png", class: "book-icon" %>
    <% end %>
    <%= link_to destroy_user_session_path, class: "navbar-brand", data: { turbo_method: :delete } do %>
      <%= image_tag "logout.png" %>
    <% end %>
  </div>
</div>
