<!DOCTYPE html>
<html>
  <head>
    <title>Taste Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body id="<%= controller_name %>_<%= action_name %>">
    <% if controller_name.in?(%w[sessions registrations passwords unlocks]) || action_name == "home" %>
      <% background_class = controller_name.in?(%w[sessions registrations passwords unlocks]) ? 'background-devise' : 'background-home' %>
      <div class="content_container_without_navbar <%= background_class %>">
    <% else %>
      <div class="content_container">
    <% end %>
      <%= yield %>
    </div>
    <%= render "shared/navbar" unless controller_name.in?(%w[sessions registrations passwords unlocks]) || action_name == "home" %>
    <%#= render "shared/flashes" %>

  </body>
</html>
